<div class='new-viewing-button'>
  <%= button_to "Create Viewing Party for this Movie", "/viewing-party/new", method: :get, params: {movie_id: @movie.id} %>
</div>

<div class='movie-title'>
  <h1><%= @movie.title %></h1>
</div>

<table class='movie-data'>
  <tr>
    <th>Vote Average:</th>
    <th>Runtime:</th>
    <th>Genre(s):</th>
  </tr>

  <tr>
    <td><p><%= @movie.vote_average %></p></td>
    <td><p><%= @movie.format_run_time %></p></td>
    <td><p><%= @movie.all_genres %></p></td>
  </tr>
</table>

<section class='movie-summary'>
  <h3>Summary</h3>
  <p><%= @movie.overview %></p>
</section>

<section class='movie-cast'>
  <h3>Cast</h3>
  <% @movie.cast.each do |c| %>
    <p><%= c.name %> as <%= c.character %></p>
  <% end %>
</section>

<section class='movie-reviews'>
  <h3><%= @movie.see_reviews.length %> Reviews</h3>
  <% @movie.see_reviews.each do |review| %>
  <div style='border:1px solid black' id="review-<%= review.id %>">
    <h5>Author: <%= review.author %></h5>
    <p><%= review.content %></p>
  </div>
  <% end %>
</section>
