<div class='new-viewing-button'>
  <%= button_to "Create Viewing Party for this Movie", "/viewing-party/new" %>
</div>

<div class='movie-title'>
  <h1><%= @movie.title %></h1>
</div>

<table class='movie-data'>
  <tr>
    <th>Vote Average:</th> 
    <th>Runtime:</th>
    <th>Genre(s):</th>
  </tr>

  <tr>
    <td><p><%= @movie.vote_average %></p></td>
    <th><p><%= @movie.format_run_time %></p></th>
    <td><p><%= @movie.all_genres %></p></td>
  </tr>
</table>

<section class='movie-summary'>
  <h3>Summary</h3>
  <p><%= @movie.overview %></p>
</section>

<section class='movie-cast'>
  <h3>Cast</h3>

</section>

<section class='movie-reviews'>
  <h3> Reviews</h3>

    <div id="review-id">

    </div>
</section>
