<section class='friends'>
  <h2>Friends</h2>
  <div class='friend-search'>
    <%= form_with url: friendships_path, local: true, method: :post do |f| %>
      <%= f.text_field(:friend_search, placeholer: 'Search friend by username') %>
      <%= f.submit 'Add Friend' %>
    <% end %>
  </div>

  <div class='friend-list'>
    <% if @user.followed.empty? %>
      <p>You currently have no friends</p>
    <% else %>
      <ul>
        <% @user.followed.each do |friend| %>
          <li><%= friend.user_name %></li>
        <% end %>
      </ul>
    <% end %>

  </div>
</section>

  <h2>Viewing Parties</h2>
<section class='parties'>

  <% @movies.each do |party, movie| %>
    <div class="viewing-party-block">
      <h3 class="viewing-party-title"><a href="<%= movie_path(movie.id) %>"><%= movie.title %></a></h3> <br>
      <img src="<%= movie.image_source %>" alt="<%= "#{movie.title} poster" %>%" class="party-poster"> <br>
      <p class="viewing-party-content"><%= party.start_date_time %></p>
      <p class="viewing-party-content"><%= @user.status(party) %></p>
    </div>
  <% end %>
</section>
